
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      form {
        border: 3px solid #f1f1f1;
      }

      input[type=text],
      input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        opacity: 0.8;
      }

      .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
      }

      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      img.avatar {
        width: 40%;
        border-radius: 50%;
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        padding: 16px;
        background-color: #f5f5f5;
      }

      span.psw {
        float: right;
        padding-top: 16px;
      }

      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }

        .cancelbtn {
          width: 100%;
        }
      }
    </style>
  



    <h2>Add Products Here</h2>

    <form action="/c_add" method="post" enctype="multipart/form-data">
      <div class="imgcontainer">
        <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
      </div>

      <div class="container" style="width:30%; " style="padding:70%;" >
        <label for="category"><b>Category</b></label>
        <select name="category" id="category">
          <option value="phone">Smart Phone</option>
          <option value="grocery">Grocery</option>
          <option value="household">House Hold</option>
          <option value="PC">PC & Accessories</option>
          <option value="Beauty">Beauty Products</option>
          <option value="clothings">Clothings</option>
          <option value="footwears">Footwears</option>
          <option value="Watches">Watches</option>
          <option value="va">Vehicle Accessories</option>
          <option value="electronics">Electronics</option>
        </select>
        <h1></h1>
        <label for="uname"><b>Product Discription</b></label>
        <input type="text" placeholder="Discription" name="desc" required>
        <h1></h1>
        <label for="uname"><b>weight : </b></label>
        <input type="number" placeholder="weight" name="weight" required>
        <h1></h1>
        <label for="uname"><b>address</b></label>
        <input type="text" placeholder="del address" name="address" required>
        <h1></h1>
        <button type="submit">Add Products</button>

      

      <div class="container" style="background-color:#e4e2e2"><a href="/c_index">
          <button type="button" class="cancelbtn">Back</button></a>
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
      </div>
    </div>
    </form>

  
</div>


